$color-primary: #35CD8C;
$text-color: #2E266F;
$bg-light:#FFEDDE;
$color-white: #ffffff;
$color-grey :#707070;
$color-black: #000000;
$bg-color-2 :#FFF5EC;

 
//text
$fz-14: 14px;
$fz-48: 48px;
$fz-36: 36px;
$fz-24: 24px;
